<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static html</title>
    <link rel="stylesheet" href="./../css/style.css">
</head>

<body>
    <h2>Demo of API</h2>
    <div>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta ducimus dolore adipisci perspiciatis ipsum quo
        laborum dolorem quas, excepturi fugiat repellat odio quos ullam optio est,
        temporibus ab in assumenda!</div>
</body>

</html>